################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JWTToken_API/.vs/JWTToken_API
/JWTToken_API/JWTToken_API/bin/Debug/net8.0
/JWTToken_API/.vs/ProjectEvaluation
/JWTToken_API/JWTToken_API/obj
